@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 700, 300);
/* footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;} */
body,
html {
  font-family: OpenSans-Regular, Arial, Helvetica, Sans-serif !important;
}
.footerleft p {
  color: #fff;
  font-size: 12px !important;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}
.footerleft p i {
  width: 20px;
  color: #999;
}

.paddingtop-bottom {
  margin-top: 50px;
}
.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}
.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}
.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
  margin-right: 10px;
}
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #ff670f;
}

/* FOOTER */

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

footer {
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-top: 1px solid #dee2e6 !important;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}
.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}
.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}
.copyright p {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0px;
}
.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}
.post p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.post p span {
  display: block;
  color: #8f8f8f;
}
.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}
.bottom_ul li {
  float: left;
  line-height: 40px;
}
.bottom_ul li:after {
  content: "/";
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}
.bottom_ul li a {
  color: #fff;
  font-size: 12px;
}

.harga {
  font-weight: bold;
  font-size: 20px;
  font-family: OpenSans-SemiBold, Arial, Helvetica, Sans-serif;
  color: #0064d2;
  margin-bottom: 8px;
  position: relative;
  letter-spacing: 2px;
}

.time {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  text-align: center !important ;

  padding-top: 49px;
}

.satuan {
  font-size: 20px;
}

.detail-tiket {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  padding-top: 49px;
  letter-spacing: 1px;
}

.waktu {
  font-size: 14px;
}

/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  /* font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* NAVBAR */

ul li .menu-label {
  position: relative;
  opacity: 1;
  color: #767676;
}

.skin-green .main-header .navbar .nav > li > a:hover {
  color: #000;
  background-color: #fff;
}

.skin-green .main-header .navbar .nav > li > a {
  position: relative;
  opacity: 1;
  color: #767676;
}
.navbar-toggle {
  color: #000;
}

/* HOMEPAGE */

.j3 {
  padding-top: 40px;
  line-height: 40px;
  font-weight: 500;
  font-size: 32px;
}

.j4 {
  color: #888;
  font-size: 16px;
  padding-bottom: 14px;
}

.more-button {
  padding-bottom: 70px;
}

.more-button .btn {
  background: #fff;
  display: inline-block;
  padding: 8px 13px;
  border: 1px solid #ff7200;
  cursor: pointer;
  border-radius: 24px;
  font-size: 16px;
  color: #ff7200;
}

.tiket_btn {
  border-radius: 18px;
  padding: 7px 30px 7px 30px;
}

/* LANGGANAN */
.footer-subscribe {
  background-color: #f7f7f7;
}
.input-button button {
  background-color: #fedd00;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-family: OpenSans-SemiBold, Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  color: #0064d2;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}
.flex {
  padding: 24px 10px;
}

.subscribe-title {
  color: #35405a;
  font-family: OpenSans-SemiBold, Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 4px;
  padding-top: 10px;
}
.flex .input-button input {
  border-radius: 25px;
  outline: none;
  border: 1px solid #c6cbda;
  padding: 12px 24px;
  font-size: 16px;
  margin-right: 16px;
  height: 50px;
}

/* CHECK TIKET PAGE */
.labelkonsumen {
  font-size: 20px;
  color: #35405a;
  padding-bottom: 14px;
  padding-top: 14px;
}

.info-list-autocomplete {
  font-family: OpenSans-Regular, Arial, Helvetica, Sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #8a93a7;
}

.nametext {
  font-size: 13px;
  color: gray;
  padding-top: 4px;
}

.text-notice span {
  color: #0064d2;
  font-family: OpenSans-SemiBold, Arial, Helvetica, Sans-serif;
  cursor: pointer;
}

.text-notice {
  text-align: end;
  padding-bottom: 4px;
  padding-right: 12px;
  font-size: 16px;
  color: gray;
}

/* search */

.search {
  height: 48px;
}

.tax-section {
  margin-top: 20px;
  padding-top: 18px;
}

.tax-title {
  text-align: left;
  font-size: 16px;
  font-family: OpenSans-SemiBold, Arial, Helvetica, Sans-serif;
  padding-bottom: 16px;
  color: #35405a;
}

.text-tax {
  font-size: 14px;
  color: #58627a;
  margin-bottom: 15px !important;
  margin: 1px;
}
